[sources.postgres_crm]
credentials = "postgresql://<user>:<password>@10.22.4.47:15432/<database>"

[sources.postgres_timesheet]
credentials = "postgresql://<user>:<password>@10.22.4.47:5432/<database>"

[sources.maria_erp]
credentials = "mysql+pymysql://<user>:<password>@10.22.5.26:3306/<database>"

[destinations.warehouse]
credentials = "postgresql://<user>:<password>@10.22.4.47:5432/raw_db"
